.imageContainerIcon {
    height: 110px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.imageContainerWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 1px;
    box-sizing: border-box;
    max-width: 100%;
}

.fecha242026,
.financistaAgenciaItaliana,
.montoFinanciamiento263480,
.objetivoEspecficoFortalece,
.objetivoGeneralContribuir,
.r1AumentadaLa,
.r2MejoradasLas,
.r3MejoradasLas,
.reaDeIncidencia,
.resultadosEsperadoa {
    margin: 0;
}

.fecha242026MontoContainer {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.fecha242026MontoFinanciamWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 55px 168px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Armata;
}

.subShapeContainerChild {
    height: 726px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.subShapeContainerItem {
    height: 93px;
    width: 79px;
    position: absolute;
    margin: 0 !important;
    top: 316px;
    left: 14px;
    object-fit: contain;
    z-index: 1;
}

.shapeContainer,
.subShapeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.subShapeContainer {
    flex: 1;
    position: relative;
}

.shapeContainer {
    align-self: stretch;
    padding: 0 0 5px;
    box-sizing: border-box;
}

.noticiasSobreLa {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
}

.blankLine,
.blankLine1,
.elPasado21,
.enElTaller,
.tallerDeInicio {
    margin: 0;
}

.tallerDeInicioContainer {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.newsDescriptionContainer {
    align-self: stretch;
    flex-direction: row;
    padding: 0 58px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 24px;
}

.newsContainer,
.newsContainerWrapper,
.newsDescriptionContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.newsContainer {
    flex: 1;
    flex-direction: column;
    gap: 65px;
}

.newsContainerWrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 30px 60px 29px;
    box-sizing: border-box;
    text-align: center;
    font-size: 64px;
    color: #000;
    font-family: Armata;
}

.footerShapesChild {
    height: 695px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.footerShapesItem {
    height: 93px;
    width: 79px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 46.5px);
    left: 14px;
    object-fit: contain;
    z-index: 1;
}

.design,
.footerShapes {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footerShapes {
    align-self: stretch;
    flex-direction: row;
    max-width: 100%;
}

.design {
    width: 100%;
    flex-direction: column;
    gap: 17px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
    .newsDescriptionContainer {
        padding-left: 29px;
        padding-right: 29px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {
    .noticiasSobreLa {
        font-size: 51px;
    }
}

@media screen and (max-width: 750px) {
    .fecha242026MontoFinanciamWrapper {
        padding-left: 27px;
        padding-right: 27px;
        padding-bottom: 109px;
        box-sizing: border-box;
    }

    .newsContainer {
        gap: 32px;
    }

    .newsContainerWrapper {
        padding-bottom: 39px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .fecha242026MontoContainer {
        font-size: 19px;
    }

    .noticiasSobreLa {
        font-size: 38px;
    }

    .tallerDeInicioContainer {
        font-size: 19px;
    }

    .newsContainer {
        gap: 16px;
    }
}