.frameChild,
.searchPageChild {
    position: relative;
    display: none;
}

.searchPageChild {
    width: 1486px;
    height: 1218px;
    object-fit: cover;
    max-width: 100%;
}

.frameChild {
    align-self: stretch;
    height: 372px;
    background-color: #e6e3e3;
}

.contactImageIcon {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.contactInfo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.juanPrezLamas {
    flex: 1;
    position: relative;
    z-index: 2;
}

.juanPrezLamasWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 3px;
    font-size: 16px;
    color: #248628;
}

.directorDelPrograma,
.doctorEnCiencias {
    margin: 0;
}

.doctorEnCienciasContainer {
    flex: 1;
    position: relative;
    z-index: 2;
}

.doctorEnCienciasAgrariasDiWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 10px;
}

.titulo {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 18px 14px;
}

.gridImageLeft,
.gridImageRight {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.imageGrid,
.imageGridWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imageGrid {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.imageGridWrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.rectangleParent {
    width: 297px;
    background-color: #e6e3e3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    box-sizing: border-box;
    gap: 14px;
    z-index: 1;
    font-size: 14px;
    color: #000;
}

.frameItem {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.specialistImagesIcon {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.specialistNames {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.elieserPereraConcepcin {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.especialista,
.oficialDeMonitoreo {
    margin: 0;
}

.especialistaOficialDeContainer {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.specialistNamesParent,
.specialistRoles {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.specialistNamesParent {
    gap: 14px;
}

.textoCuadro {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 21px 14px;
    font-size: 14px;
    color: #000;
}

.leftImageIcon,
.rightImageIcon {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.imagesRow,
.imagesRowWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imagesRow {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.imagesRowWrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.contenedor,
.rectangleGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.rectangleGroup {
    align-self: stretch;
    background-color: #e6e3e3;
    padding: 10px 0;
    gap: 16px;
    z-index: 1;
}

.contenedor {
    width: 312px;
    padding: 0 15px 0 0;
    box-sizing: border-box;
}

.frameInner {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.ellipseIcon {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.ellipseWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.williamGrauperaBahsamonde {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.especialista1,
.oficialDeLogstica {
    margin: 0;
}

.especialistaOficialDeContainer1 {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.frameGroup,
.williamGrauperaBahsamondeParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.frameGroup {
    gap: 14px;
}

.loremIpsumDolor2 {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuFrame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 23px 14px;
    font-size: 14px;
    color: #000;
}

.frameChild1,
.rectangleIcon {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.frameDiv,
.rectangleParent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rectangleParent1 {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.frameDiv {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.frameContainer,
.rectangleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.rectangleContainer {
    align-self: stretch;
    background-color: #e6e3e3;
    padding: 10px 0;
    gap: 15px;
    z-index: 1;
}

.frameContainer {
    width: 311px;
    padding: 0 14px 0 0;
    box-sizing: border-box;
}

.rectangleDiv {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.frameChild2 {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.ellipseContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.maylnRamrezCabrera {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.mscAlimentos,
.oficialDeEconoma {
    margin: 0;
}

.mscAlimentosOficialContainer {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.frameParent1,
.maylnRamrezCabreraParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
}

.frameParent1 {
    gap: 14px;
}

.loremIpsumDolor3 {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuWrapper1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 25px 14px;
    font-size: 14px;
    color: #000;
}

.leftSummaryImage,
.rightSummaryImage {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.leftSummaryImageParent {
    width: 109px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.frameWrapper1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.frameParent,
.frameWrapper1,
.rectangleParent2 {
    display: flex;
    align-items: flex-start;
}

.rectangleParent2 {
    width: 297px;
    background-color: #e6e3e3;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0;
    box-sizing: border-box;
    gap: 13px;
    z-index: 1;
}

.frameParent {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    text-align: center;
    font-size: 16px;
    color: #248628;
    font-family: Armata;
}

.secondProfileDetailsChild {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.secondContactImages {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.secondContactInfo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.robertoCaballeroGrande {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.drEnCiencias,
.especialista2 {
    margin: 0;
}

.drEnCienciasContainer {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.secondSpecialistDetails {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.loremIpsumDolor4 {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuWrapper2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 20px 14px;
    font-size: 14px;
    color: #000;
}

.secondLeftImage,
.secondRightImage {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.secondImageRow,
.secondImageRowWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.secondImageRow {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.secondImageRowWrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.secondProfileDetails {
    width: 297px;
    background-color: #e6e3e3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    box-sizing: border-box;
    gap: 14px;
    z-index: 1;
}

.thirdProfileContainerChild {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.thirdProfileImageChild {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.thirdProfileImage {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.maraDelCarmen {
    flex: 1;
    position: relative;
    z-index: 2;
}

.thirdProfileName {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 7px;
    font-size: 16px;
    color: #248628;
}

.draCienciasAgrarias,
.especialistaPrincipal {
    margin: 0;
}

.draCienciasAgrariasContainer {
    flex: 1;
    position: relative;
    z-index: 2;
}

.thirdProfileTitle {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 4px;
}

.loremIpsumDolor5 {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.thirdProfileSummary {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 20px 14px;
}

.thirdProfileImagePair,
.thirdProfileImagePair1 {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.thirdProfileImagePairParent,
.thirdProfileImages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.thirdProfileImagePairParent {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.thirdProfileImages {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.thirdProfile,
.thirdProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.thirdProfileContainer {
    align-self: stretch;
    background-color: #e6e3e3;
    padding: 10px 0;
    gap: 14px;
    z-index: 1;
}

.thirdProfile {
    width: 312px;
    padding: 0 15px 0 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #000;
}

.secondProfileDetailsItem {
    align-self: stretch;
    height: 372px;
    position: relative;
    background-color: #e6e3e3;
    display: none;
}

.frameChild3 {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.secondProfileDetailsInner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.camilaCaballeroSalgado {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.ingEnCiencias,
.oficialDeComunicacin {
    margin: 0;
}

.ingEnCienciasContainer {
    align-self: stretch;
    position: relative;
    font-size: 14px;
    color: #000;
    z-index: 2;
}

.camilaCaballeroSalgadoParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.loremIpsumDolor6 {
    flex: 1;
    position: relative;
    white-space: pre-wrap;
    z-index: 2;
}

.loremIpsumDolorSitAmetEuWrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 20px 14px;
    font-size: 14px;
    color: #000;
}

.frameChild4,
.frameChild5 {
    height: 33px;
    width: 36px;
    position: relative;
    object-fit: cover;
    min-height: 33px;
    z-index: 2;
}

.rectangleParent3,
.secondProfileDetailsInner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rectangleParent3 {
    width: 109px;
    justify-content: space-between;
    gap: 20px;
}

.secondProfileDetailsInner1 {
    align-self: stretch;
    justify-content: center;
    padding: 0 24px 0 20px;
}

.secondProfileDetails1 {
    width: 297px;
    background-color: #e6e3e3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    box-sizing: border-box;
    gap: 14px;
    z-index: 1;
}

.secondProfileDetailsParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
}

.searchPage,
.secondProfile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.secondProfile {
    flex-direction: row;
    padding: 0 1px;
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    color: #248628;
    font-family: Armata;
}

.searchPage {
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 236px 58px 110px;
    gap: 128px;
    background-image: url(/search-page@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
    .secondProfileDetailsParent {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1050px) {
    .frameParent {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {

    .frameParent,
    .secondProfileDetailsParent {
        gap: 25px;
    }

    .searchPage {
        gap: 64px;
        padding-left: 29px;
        padding-right: 29px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .searchPage {
        gap: 32px;
    }
}