.main {
    position: relative;
    border-radius: 2px;
    background-color: #aba3a3;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 100%;
    padding: 234px 57px 108px;
    gap: 128px;
    /* justify-content: center; */
}

.Titulo,
.fondo {
    width: 100%;
    position: absolute;
    margin: 0 !important;
    left: 0;
}

.fondo {
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.Titulo {
    top: 70px;
    font-size: 64px;
    text-transform: uppercase;
    font-family: Armata;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.contenedorTarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        /* Agrega esta línea */
    gap: 20px;
    max-width: 100%;
   
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /* Cambiado aquí */
        
}

@media screen and (max-width: 1425px) {
    .contenedorTarjetas {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 825px) {

    .contenedorTarjetas {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
    }

    .nuestroEquipo {
        font-size: 51px;
    }

    .contenedorTarjetas {
        gap: 25px;
    }


}

@media screen and (max-width: 450px) {
    .nuestroEquipo {
        font-size: 38px;
    }

    .main {
        gap: 32px;
    }
}