.tarjeta {
    width: 297px;
    background-color: #e6e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    gap: 13.7px;
    z-index: 1;
    font-size: 14px;
    color: #000;
    font-family: Armata;
}

.logoContenedor {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

.logoImagen {
    height: 122px;
    width: 133px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
}

.textoNombre {
    align-self: stretch;
    text-wrap: balance;
    font-size: 16px;
    color: #248628;
}

.cargoContenedor {
    text-wrap: pretty;
    padding: 0 1px 0 0;
}

.textoCargo {
    display: block;
    flex-wrap: wrap;
}

.textoCargo,
.textoNombre {
    position: relative;
    z-index: 2;
}


.frameInner,
.frameItem {
    height: 33px;
    width: 36px;
    object-fit: cover;
    min-height: 33px;
}

.infoContenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
    padding: 0 10px 0 14px;
}



@media screen and (max-width: 450px) {
    .contenedor {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}