.root {
    box-sizing: border-box;
    display: flex;
}

.root {
    width: 100%;
    border-radius: 2px;
    background-color: #e9e2e2;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 87px 61px 82px 60px;
    line-height: normal;
    letter-spacing: normal;
    gap: 20px;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-family: Armata;
}
@media screen and (max-width: 1225px) {
    .root {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) {
    .root {
        box-sizing: border-box;
    }
    .root {
        padding-left: 30px;
        padding-right: 30px;
    }
}
