.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 4px;
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    text-align: center;
    font-size: 24px;
    color: #000;
}

.logo {
    height: 124px;
    width: 244px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutProjects {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Cambiado para evitar que se desborde */
    padding: 25.5px 0 0;
    max-width: 100%;
    /* Mantiene el contenedor dentro del ancho de la pantalla */
    overflow: hidden;
    /* Evita que el contenido se desborde */
    gap: 20px;
}

.navItem {
    text-decoration: none;
    font-family: Armata;
    max-width: 160px;
    color: inherit;
}

.productosResultados {
    min-width: 200px;
    /* Asegúrate de que tenga un ancho mínimo */
    max-width: 300px;
    /* O establece un ancho máximo si es necesario */
}

@media screen and (max-width: 1108px) {

    .header,
    .aboutProjects {
        flex-wrap: wrap;
    }
         .header {
             justify-content: center;
         }
    
}

@media screen and (max-width: 500px) {
    .header {
        justify-content: center;
    }

    .aboutProjects {
        flex-direction: column;
        /* Cambiar a columna en pantallas más pequeñas */
        align-items: center;
        /* Centrar los elementos */
    }
}

.active {
    color: #a6b92f;
}