.projectLink {
    text-decoration: none;
    color: inherit;
}

.projectLink:hover,
.projectLink:focus,
.projectLink:active {
    text-decoration: none;
    color: inherit;
}

.projectCardWrapper {
    padding: 20px 40px 0 60px;
    box-sizing: border-box;
    font-family: Armata, sans-serif;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.projectCardWrapper:hover {
    transform: scale(1.03);
}

.projectCard {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(36, 134, 40, 0.6);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.cardImageIcon {
    width: 100%;
    max-width: 241px;
    height: auto;
    object-fit: cover;
}

.cardContent {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}


.projectDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailRow {
    display: flex;
    align-items: flex-start;
}

.detailLabel {
    font-weight: bold;
    min-width: 120px;
    padding-right: 10px;
}

.detailContent {
    flex: 1;
}

.footer {
    padding: 5px 10px 5px 10px;
    flex-basis: 100%; /* Este elemento ocupará toda la línea */
}

.footerItemWrapper {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.footerItem {
    flex: 1;
    background-color: #d9d9d9;
    height: 50px;
    min-width: 80px;
    max-width: 80px;
}

.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 1.2em;
}

.projectCardWrapper:hover .hoverOverlay {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .projectCard {
        flex-direction: column;


    }

    .cardImageIcon {
        max-width: 100%;
    }

    .detailRow {
        flex-direction: column;
        width: 60vw;
    }

    .detailLabel {
        margin-bottom: 5px;
    }

    .footerItemWrapper {
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
        align-content: center;
        justify-content: center;
    }

    .footerItem {
        height: 30px;
        min-width: 60px;
        max-width: 60px;
        flex: 1 1 60px; /* Permitir que los elementos crezcan y se encojan, con un ancho base de 60px */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }
}

@media screen and (max-width: 450px) {
    .detailLabel,
    .detailContent {
        font-size: 14px;
    }

    .footer{
        align-self: flex-start;
    }

}



