.productosYResultadosDelPro {
    width: 100%;
    position: relative;
    background-color: #746e6e;
    height: 2275px;
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
}