.contactDetails {
    width: 298px;
    height: 298px;
    background-color: #fff;
    padding: 14px 31px 63px 33px;
    box-sizing: border-box;
    gap: 23px;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Armata;
}

.imagenContenedor {
    align-self: stretch;
    display: flex;
    padding: 0 53px 0 51px;
}

.imagen {
    height: 113px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
}


.numero,
.tipo {
    align-self: stretch;
    position: relative;
    z-index: 2;
}

.tipo {
    text-transform: uppercase;
}

.div {
    font-size: 20px;
}

.contactDetails,
.infoContender {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.infoContender {
    align-self: stretch;
    gap: 2px;
}

@media screen and (max-width: 450px) {
   
    .imagen {
        object-fit: contain;
    }

    .tipo {
        font-size: 80%
    }

    .numero {
        font-size: 80%;
    }
}